/* для тегу <h1> color: #FFFFFF;
   для тегу <h2; h3> color: #212121;
   для тегу <p> color: #757575;
   для :hover color: #2196F3;
   додатковий фон background-color: #F5F4FA;
   фон для <footer> background-color: #2F303A;
*/

:root {
  --title-color: #212121;
  --text-color: #757575;
  --hover-accent-color: #2196f3;
  --hover-second-color: #188ce8;
  --primary-white-color: #ffffff;
  --background-second-color: #f5f4fa;
  --hero-footer-bgc: #2f303a;
}

body {
  background-color: #ffffff;
  color: var(--title-color);

  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.03em;
}

/* CAP */
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.conteiner {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding: 0 15px;
  outline: 1px solid red;
}

/* властивість для <ul>, забираємо крапки */
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.logo {
  color: #000000;

  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

.logo-web {
  color: var(--hover-accent-color);
}

.nav-link {
  color: var(--title-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.contacts-link {
  color: var(--text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.nav-link:hover,
.nav-link:focus,
.contacts-link:hover,
.contacts-link:focus {
  color: var(--hover-accent-color);
}

.current {
  color: var(--hover-accent-color);
}

/* HERO */
.hero {
  background-color: var(--hero-footer-bgc);
  text-align: center;
}

h1, h2, h3, p {
  margin-top: 0;
  margin-bottom: 0;
}

.hero-title {
  color: var(--primary-white-color);

  font-style: 400;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  margin-bottom: 30px;
}

.button {
  background-color: var(--hover-accent-color);
  color: var(--primary-white-color);

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;

  cursor: pointer;
  display: flex;
  align-items: center;
  text-align: center;

  border-radius: 4px;
  padding: 10px 32px;
  border: none;
  margin: auto;
}

.button:hover,
.button:focus {
  background-color: var(--hover-second-color);
  color: var(--primary-white-color);
}

/* FEATURES */
/* властивість для прихованого заголовку */
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.features-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  margin-bottom: 10px;
}

.features-text {
  color: var(--text-color);

  font-size: 14px;
  line-height: 1.71;
}

/* SERVICES */
.section-title {
  font-size: 36px;
  line-height: 1.17px;
  text-align: center;

  margin-bottom: 50px;
}

/* TEAM */
.team {
  background-color: var(--background-second-color);
}

.team-list {
  background-color: var(--primary-white-color);
}

.team-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  

  padding-top: 30px;
  margin-bottom: 10px;
}

.team-text {
  color: var(--text-color);

  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

/* BASEMENT */
.footer {
  background-color: var(--hero-footer-bgc);
}

.footer .logo {
  color: var(--primary-white-color);
  margin-bottom: 20px;
}



.footer-address {
  font-style: normal;
}

.item {
  color: var(--primary-white-color);

  text-decoration: none;
}

.item:hover,
.item:focus {
  color: var(--hover-accent-color);
}

/* ---PORTFOLIO STYLES--- */
/* FILTER */
.filter-btn {
  background-color: var(--background-second-color);
  color: var(--title-color);

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;

  border-radius: 4px;
  cursor: pointer;
}

.filter-btn:hover,
.filter-btn:focus {
  background-color: var(--hover-accent-color);
  color: var(--primary-white-color);
}

.filter-btn.current {
  background-color: var(--hover-accent-color);
  color: var(--primary-white-color);
}

/* PROJECTS */
.project-link {
  text-decoration: none;
}

.project-title {
  color: var(--title-color);

  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.project-text {
  color: var(--text-color);

  font-size: 16px;
  line-height: 1.88;
}
